.secao-jogar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

.area-cards{
    display: flex;
    justify-content: center;
}